---

---

<section class='py-20 sm:max-w-[--max-width] sm:mx-auto'>
  <div class='px-8 w-full'>
    <h2
      class='font-bold text-5xl md:text-[4.5rem] text-center md:text-left mb-8'
    >
      Audience 🔎
    </h2>
    <div class='flex flex-col gap-4'>
      <div
        class='grid sm:grid-cols-[100px_1fr] gap-4 w-full items-center font-bold'
      >
        <h3>Gender ➜</h3>
        <div class='flex flex-grow'>
          <div
            class='border-l border-t border-b border-[--clr-accent-02] rounded-l-lg w-[65%] flex justify-center items-center text-center py-1 sm:py-2 dark:bg-[--clr-primary-04]'
          >
            <p class='text-[--clr-accent-02] text-sm'>Male (65%)</p>
          </div>
          <div
            class='border border-[--clr-accent-03] rounded-r-lg w-[35%] flex justify-center items-center text-center py-1 sm:py-2 dark:bg-[--clr-primary-04]'
          >
            <p class='text-[--clr-accent-03] text-sm'>Female (35%)</p>
          </div>
        </div>
      </div>
      <div
        class='grid sm:grid-cols-[100px_1fr] gap-4 w-full items-center font-bold'
      >
        <h3>Age ➜</h3>
        <div class='flex flex-grow'>
          <div
            class='border-l border-t border-b border-[--clr-accent-03] rounded-l-lg w-[55%] flex justify-center items-center text-center py-1 sm:py-2 dark:bg-[--clr-primary-04]'
          >
            <p class='text-[--clr-accent-03] text-sm'>18-24</p>
          </div>
          <div
            class='border-l border-t border-b border-[--clr-accent-01] w-[15%] flex justify-center items-center text-center py-1 sm:py-2 dark:bg-[--clr-primary-04]'
          >
            <p class='text-[--clr-accent-01] text-sm'>25-34</p>
          </div>
          <div
            class='border-l border-t border-b border-[--clr-accent-02] w-[15%] flex justify-center items-center text-center py-1 sm:py-2 dark:bg-[--clr-primary-04]'
          >
            <p class='text-[--clr-accent-02] text-sm'>35-44</p>
          </div>
          <div
            class='border rounded-r-lg border-[--clr-accent-04] w-[15%] flex justify-center items-center text-center py-1 sm:py-2 dark:bg-[--clr-primary-04]'
          >
            <p class='text-[--clr-accent-04] text-sm'>45+</p>
          </div>
        </div>
      </div>
      <div
        class='grid sm:grid-cols-[100px_1fr] gap-4 w-full items-center font-bold'
      >
        <h3>Interests ➜</h3>
        <div
          class='flex gap-2 items-center flex-wrap sm:flex-nowrap text-center'
        >
          <div
            class='border border-[--clr-accent-01] rounded-lg px-4 py-1 sm:py-2 sm:w-1/4 dark:bg-[--clr-primary-04]'
          >
            <p class='text-sm'>Gaming</p>
          </div>
          <div
            class='border border-[--clr-accent-04] rounded-lg px-4 py-1 sm:py-2 sm:w-1/4 dark:bg-[--clr-primary-04]'
          >
            <p class='text-sm'>Sport</p>
          </div>
          <div
            class='border border-[--clr-accent-02] rounded-lg px-4 py-1 sm:py-2 sm:w-1/4 dark:bg-[--clr-primary-04]'
          >
            <p class='text-sm'>Entertainment</p>
          </div>
          <div
            class='border border-[--clr-accent-03] rounded-lg px-4 py-1 sm:py-2 sm:w-1/4 dark:bg-[--clr-primary-04]'
          >
            <p class='text-sm'>Technology</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
