---
import '../styles/globals.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Content Creator Site</title>
  </head>
  <body class='bg-[--clr-primary-01] dark:bg-[--clr-primary-02] relative'>
    <span
      class='absolute h-32 w-12 lg:w-[4.5rem] rounded-r-2xl dark:bg-[--clr-accent-04] left-0 top-16'
    ></span>
    <main>
      <slot />
    </main>
  </body>
</html>
